<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapps.svatts.geotodos">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/geotodo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/geoApiKey" />

        <activity
            android:name="com.myapps.svatts.geotodos.WelcomeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.myapps.svatts.geotodos.MainActivity"
            android:theme="@style/AppTheme">


        </activity>

        <provider
            android:name="com.myapps.svatts.geotodos.provider.PlaceContentProvider"
            android:authorities="com.myapps.svatts.geotodos"
            android:exported="false" />

        <service android:name="com.myapps.svatts.geotodos.AddingGeofencesService" />

        <receiver android:name="com.myapps.svatts.geotodos.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

            </intent-filter>
        </receiver>
        <receiver
            android:name="com.myapps.svatts.geotodos.GeofenceBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.aol.android.geofence.ACTION_RECEIVE_GEOFENCE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.myapps.svatts.geotodos.LocationProviderChangedBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>